.column {
  height: calc(100% - 2rem);
  width: 12rem;
  margin: 0rem 2rem;
  color: white;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  float: left;
  background-color: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activeColumn {
  background-color: darkgreen;
}

.cardsBlock {
  display: flex;
  flex-direction: column;
}